:root {
    --white: #fff;
    --light-yellow: #fdf7ec;
    --pink: #f69cb9;
    --aqua-green:#6c9ea5;
    --light-blue:#d0e8ff;
    --yellow: #ffcb2b;
    --text-color: #101631dd;
    --box-shadow: 0px 0px 40px #66635e98;
    --font-family: 'Poppins', sans-serif;
    --secondary-font: 'Borel', serif;
}

/* General Styles */

html {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    max-width: 100%;
    font-family: var(--font-family);
    color: var(--text-color);
    overflow-y: auto; 
    overflow-x: hidden;
}

div, ul, li, a,h1,h2,h3,h4,p {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    max-width: 800px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--aqua-green);
    text-align: center;
    margin: 10dvh auto;
    padding: 15px;
}

h1 {
    font-size: clamp(1.5rem, 6dvw + 0.5rem, 3rem);
    margin-bottom: 20dvh;
}

.h2-cursive {
    font-family: var(--secondary-font);
    margin: 15px;
    color: var(--aqua-green);
    font-size: 3rem;
}

h3 {
    text-decoration: underline;
}

.little-text {
    font-size: smaller;
    color: var(--aqua-green);
}

.default-button {
    color: var(--white);
    margin: 3rem 0;
    background-color: var(--pink);
    font-size: medium;
    padding: 10px 20px;
    border-radius: 5px;
}
.centered-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    font-size: 5rem;
    box-shadow: var(--box-shadow);
}

.default-button:hover {
    background-color: var(--aqua-green);
}

.background {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), var(--white)), url('images/000-fondo.jpeg');
    opacity: 0.1;
    background-size:contain;
    background-attachment: fixed; 
    top: 100dvh;
    left: 0;
    height:1150dvh;
    width: 100dvw;
    position: absolute;
    z-index: -1000;
}

/* @supports (animation: animatedBackground 120s linear infinite) {
    @media (prefers-reduced-motion: no-preference) {
        .background {
            animation: animatedBackground 120s linear infinite; 
        }
        @keyframes animatedBackground {
            from { background-position: 0 0; }
            to { background-position: 0 100%; }
        }
    }
} */

/* Header */
.header {
    background: linear-gradient(to bottom, var(--white), #ffffff12);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 15000;
    top: 0;
    left: 0;
    width: 100dvw;
    z-index: 1000;
    font-size: 1rem;
    container-type: inline-size;
    container-name: header;
}

.header__logo {
    display: block;
    max-width: 100%;
    width: 100px;
    margin: 10px 20px;
    z-index: 2;
}

.header__open-nav-button {
    color: var(--pink);
    user-select: none;
    font-size: 3rem;
    font-weight: 600;
    position: absolute;
    right: 8dvw;
}

.header__nav {
    display: none;
    position: absolute;
    height: 50dvh;
    width: 100vw;
    top: 20%;
}

.close-nav-button {
    top: 5dvw;
    text-decoration:double;
    position: absolute;
    right: 8dvw;
    background-color: transparent;
    color: var(--pink);
    border: none;
    font-size: 3rem;
    cursor: pointer;
}

.close-nav-button:hover {
    color: var(--aqua-green);
}

.header__nav-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    gap: 1.5rem;
    z-index: 1;
}

.header__checkbox {
    display: none;
}

.header__checkbox:checked ~ .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--white);
    top: 0;
}

.header__nav-item-a {
    color: var(--pink);
    text-decoration: none;
}

.header__nav-item-a:is(:hover, :active) {
    color: var(--aqua-green);
    text-decoration: overline;
}

/* Header Queries */
@container header (min-width: 600px) {
    .close-nav-button {
        display: none;
    }
    
    .header__nav {
        display: block;
        position: static;
        height: auto;
        width: auto;
        justify-content: space-between;
    }

    .header__nav-list {
        flex-direction: row;
        height: auto;
        width: auto;
        gap: 2rem;
        margin-right: 40px;
    }

    .header__open-nav-button {
        display: none;
    }
}

/* Main Section */

/* Portrait */

.portrait-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 30dvh;
    z-index: 900;
    height: 200dvh;
    max-width: 100dvw;
    width: 100dvw;
}

.intro-title {
    font-size: clamp(1.5rem, 6dvw + 0.5rem, 3rem);
    text-align: center;
    color: var(--aqua-green);
}

.portrait-wrapper__intro-title {
    position: relative;
    margin-bottom: 60dvh;
    padding: 15px;
    max-width: 1200px;
}

/* @supports (animation-timeline: view()) {
    @media (prefers-reduced-motion: no-preference) {
        .portrait-wrapper__intro-title {
            animation: fade-out linear forwards;
            animation-timeline: view();
            animation-range: 60dvh 120dvh;
        }
    }
} */

.higlighted-text {
    color: var(--yellow);
}

#scroll-indicator {
    margin: 0 auto;
    text-align: center;
    color: var(--pink);
}

.arrow {
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 2px solid var(--pink);
    border-radius: 50%;
    position: relative;
    animation: bounce 1.5s infinite;
}

.arrow-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.arrow::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 18px;
    width: 18px;
    height: 18px;
    border-left: 2px solid var(--pink);
    border-bottom: 2px solid var(--pink);
    transform: rotate(-45deg);
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

#scroll-indicator p {
    font-size: 18px;
    margin-top: 10px;
}

.arrow:hover {
    animation: none;
}

.portrait-wrapper__logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    z-index: -50;
    overflow-x: hidden; 
}

.portrait-wrapper__logo-wrapper > img  {
    position: absolute;
    width: clamp(600px, 50vw, 1200px);
    margin: 80vh auto;
    overflow-x: hidden;
}


/* .portrait-wrapper__logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    z-index: -50;
}

.portrait-wrapper__logo-wrapper > img  {
    position: absolute;
    width: clamp(600px, 50dvw, 1200px);
    margin: 80dvh auto;
}

@supports (animation-timeline: view()) {
    @media (prefers-reduced-motion: no-preference) {
        .portrait-wrapper__logo-00 {
            animation: appear linear forwards;
            animation-timeline: view(); 
            animation-fill-mode: forwards;
            animation-range: 10dvh 90dvh;
            opacity: 0.5;
            scale: 0.3;
            will-change: opacity, scale;
        }

        @keyframes appear {  
            to {opacity: 1; scale: 1}
        }

        .portrait-wrapper__logo-01 {
            animation: logo-appear-01 linear forwards;
            animation-timeline: view();
            animation-fill-mode: forwards;
            animation-range: 10dvh 90dvh;
            opacity: 0.5;
            transform: translate(-150px, -80px);
            scale: 3;
            will-change: opacity, scale, translate;
        }


        @keyframes logo-appear-01 {  
            to {opacity: 1; scale: 1; translate: 150px 80px}
        }

        .portrait-wrapper__logo-02 {
            animation: logo-appear-02 linear forwards;
            animation-timeline: view();
            animation-fill-mode: forwards;
            animation-range: 10dvh 90dvh;
            opacity: 0.5;
            transform: translate(-80px, -80px);
            scale: 5;
            will-change: opacity, scale, translate;
        }

        @keyframes logo-appear-02 {  
            to { opacity: 1; scale: 1; translate: 80px 80px}
        }

        .portrait-wrapper__logo-03 {
            animation: logo-appear-03 linear forwards;
            animation-timeline: view();
            animation-fill-mode: forwards;
            animation-range: 10dvh 90dvh;
            opacity: 0.3;
            transform: translate(-40px, -60px);
            scale: 7;
            will-change: opacity, scale, translate;
        }

        @keyframes logo-appear-03 {  
            to {opacity: 1; scale: 1; translate: 40px 60px}
        }

        .portrait-wrapper__logo-04 {
            animation: logo-appear-04 linear forwards;
            animation-timeline: view();
            animation-fill-mode: forwards;
            animation-range: 10dvh 90dvh;
            opacity: 0.5;
            transform: translate(-50px, -10px);
            scale: 7;
            will-change: opacity, scale, translate;
        }

        @keyframes logo-appear-04 {  
            to {opacity: 1; scale: 1; translate: 50px 10px}
        }

        .portrait-wrapper__logo-05 {
            animation: logo-appear-05 linear forwards;
            animation-timeline: view();
            animation-fill-mode: forwards;
            animation-range: 10dvh 90dvh;
            opacity: 0.5;
            transform: translate(50px, -60px);
            scale: 3;
            will-change: opacity, scale, translate;
        }

        @keyframes logo-appear-05 {  
            to {opacity: 1; scale: 1; translate: -50px 60px}
        }
    }
} */

/* Main Banner */

.main-banner {
    display: flex;
    margin: 10dvh auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    padding: 10px;
}

.main-banner__title-h2 {
    font-size: clamp(1.5rem, 6dvw + 0.5rem, 3rem);
    color: var(--aqua-green);
    text-align: center;
    align-items: center;
    justify-content: center;
}

.strikethrough-text {
    color:var(--yellow);
    text-decoration: line-through;
}

/* @supports (animation-timeline: view()) {
    @media (prefers-reduced-motion: no-preference) {
        .main-banner {
            scale: 0.5;
            opacity: 0.3;
            animation:  fade-in linear forwards;
            animation-timeline: view();
            animation-range: 10dvh 70dvh;
        }
        @keyframes fade-in {
            to {scale: 1;  opacity: 1;}
        }    
    }
} */

.main-banner__carrousel {
    margin: 10dvh auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    width: 100%; 
}

.main-banner__carrousel-img-container {
    flex: 0 0 auto; 
    scroll-snap-align: start; 
    box-shadow: 0px 0px 3px #66635e98;
    margin: 5px;
}

.main-banner__carrousel-img-container > img {
    background-color: var(--white);
    padding: 15px;
    width: 350px;
    height: 350px;
}

/* Sections  */

section {
    max-width: 1200px;
    margin: 20dvh auto;
    padding: 10px;
}

.section__title-h2 {
    color: var(--yellow);
    font-size: clamp(2.5rem, 10dvw + 0.5rem, 4rem);
    margin-top: 20dvh;
    margin-bottom: 10dvh;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* 
@supports (animation-timeline: view()) {
    @media (prefers-reduced-motion: no-preference) {
        .section__title {
            scale: 0.5;
            opacity: 0.3;
            animation: fade-in linear forwards;
            animation-timeline: view();
            animation-range: 10dvh 70dvh;
        }

        @keyframes fade-in {
            0% { 
                scale: 0.5;
                opacity: 0.3;
            }
            100% { 
                scale: 1;
                opacity: 1;
            }
        }
    }
} */

.services {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    max-width: 1200px;
    gap: 10dvh;
    container-name: services;
    container-type: inline-size;
}

.services__service {
    display: flex;
    align-items: center;
    border-radius: 15px;
    justify-content: center;
    flex-direction: column;
    width: 80dvw;
    margin:15px;
}

.services__service-description {
    text-align: center;
    padding: 0 5dvw;
    padding: 30px;
}

.services__image {
    max-width: clamp(300px, 40dvw, 450px);
    margin: 15px;
    clip-path: circle(50%);
    box-shadow: var(--box-shadow);
}

.services__service-description ul {
    display: flex;
    flex-direction: column;
    align-items: top;
}

.services__service-description li {
    margin: 15px 15px;
    padding: 15px;
}

.services__service-description h3 {
    text-decoration: none;
    color: var(--aqua-green);
}

@container services (min-width: 800px) {
    .services__service {
        flex-direction: row;
    }

    .services__service-description ul {
        flex-direction: row;
        align-items: top;
    }

}

.projects {
    background-color: var(--white);
    min-height: 80dvh;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 0px 15px #0002;
    container-name: projects;
    container-type: inline-size;
}

.projects__project-container {
    color: var(--white);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    max-width: 1200px;
    min-height: 80dvh;
    width: 100%;
    gap: 15px;
    padding: 15px;
}

.projects__project {
    background-position: center;
    background-size: cover;
    display: grid;
    place-content: center;
}

.projects__project-name {
    font-family: var(--secondary-font);
}

.projects__project-name:hover {
    color: var(--yellow);
    text-decoration: overline;
}

.projects__modal-image-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    position: relative;
    top: 0;
    left: 0;
    box-shadow: var(--box-shadow);
    padding: 15px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.projects__modal-image-container.show {
    display: flex;
}

.projects__modal-image-container.visible {
    opacity: 1;
    visibility: visible;
}

.projects__modal-image {
    width: 100%;
    max-height: calc(75dvh + 10px);
}

.close-modal-button {
    position: absolute; 
    top: 20px; 
    right: 20px; 
    padding: 3px 3px;
    color: var(--pink);
    background-color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close-modal-button:hover {
    background-color: var(--aqua-green);
    color: var(--white);
}

.projects__modal-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    padding: 15px;
}

.projects__modal-description p,
.projects__modal-description li,
.projects__modal-description ul {
    padding: 10px;
}

.projects__modal-description li {
    text-align: left;
}

/* Animación de reducción de opacidad */
@supports (animation-timeline: view()) {
    @media (prefers-reduced-motion: no-preference) {
        .projects__project-container {
            animation: fade-out linear forwards;
            animation-timeline: view();
            animation-range: exit;
        }

        @keyframes fade-out {
            50% {
                opacity: 1;
            }
            85%, 100% {
                opacity: 0;
            }
        }
    }
}

.projects__project:first-child {
    background-image: linear-gradient(#0007, #0007), url("images/08-habitacion-tematica-jungla.jpeg");
}

.projects__project:nth-child(2) {
    background-image: linear-gradient(#0007, #0007), url("images/06-cumpleanos-tematico-nubes.jpeg");
}

.projects__project:nth-child(3) {
    background-image: linear-gradient(#0007, #0007), url("images/07-habitacion-tematica-ciencias.jpeg");
}

.projects__project:nth-child(4) {
    background-image: linear-gradient(#0007, #0007), url("images/14-pet-area.jpeg");
}

.projects__project:nth-child(5) {
    background-image: linear-gradient(#0007, #0007), url("images/16-restaurant-playroom.jpeg");
}

.projects__project:nth-child(6) {
    background-image: linear-gradient(#0007, #0007), url("images/17-casa-de-jardin.jpeg");
}

/* Queries de la grilla */
@container projects (min-width: 1050px) {
    .projects__project:first-child,
    .projects__project:nth-child(6) {
        grid-column: span 2;
    }
    .projects__modal-image-container {
        display: flex;
        flex-direction: row;
        position: absolute;
    }
}


.about {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    max-width: 1200px;
    gap: 10dvh;
    container-name: about;
    container-type: inline-size;
}

.about__content {
    display: flex;
    align-items: center;
    border-radius: 15px;
    justify-content: center;
    flex-direction: column;
    width: 80dvw;
    margin:15px;
}

.about__content-description {
    text-align: center;
    padding: 0 5dvw;
    padding: 30px;
}

.about__content-description p {
    color: var(--text-color);
    font-size: 1rem;
}

.about__image {
    max-width: clamp(300px, 40dvw, 450px);
    margin: 15px;
    clip-path: circle(50%);
    box-shadow: var(--box-shadow);
}

.about__content-description ul {
    display: flex;
    flex-direction: column;
    align-items: top;
}

.about__content-description li {
    margin: 15px 15px;
    padding: 15px;
}

.about__content-description h3 {
    text-decoration: none;
    color: var(--aqua-green);
}
@container about (min-width: 800px) {
    .about__content {
        flex-direction: row;
    }
    .about__content-description ul {
        flex-direction: row;
        align-items: top;
    }
}

/* Contact Section */
.dont-show {
    display: none;
}

.form {
    min-height: 40vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    max-width: clamp(400px, 80dvw, 800px);
    container-name: form;
    container-type: inline-size;
}

.form__form {
    flex: 1;
    padding: 10px;
    width: 100%;
    display: grid;
}

.form__input-container :is(input, textarea) {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin: 5px;
    border: none;
    box-shadow: 0px 0px 9px #0003;
}

.form__input-container textarea {
    resize: none;
    min-height: 120px;
    font-family: inherit;
}

.form__input-container input[type="submit"] {
    padding: 10px;
    color: var(--white);
    background-color: var(--yellow);
}

.form__input-container input[type="submit"]:hover {
    background-color: var(--aqua-green);
}

/* Contact Queries */
@container form (min-width: 600px) {
    .form__form {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "name lastName"
        "email email"
        "message message"
        "button button";
        gap: 10px;
    }

    .form__input-container:first-child {
        grid-area: name;
    }

    .form__input-container:nth-child(2) {
        grid-area: lastName;
    }

    .form__input-container:nth-child(3) {
        grid-area: email;
    }

    .form__input-container:nth-child(4) {
        grid-area: message;
    }

    .form__input-container:nth-child(5) {
        grid-area: button;
    }
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: var(--white);
    position: relative;
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    max-width: clamp(400px, 80dvw, 800px);
    text-align: center;
}

.modal p {
    margin: 0;
    font-size: 18px;
}

.modal-content button {
    position: absolute; 
    top: 10px; 
    right: 10px; 
    padding: 10px 20px;
    color: var(--pink);
    background-color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: var(--aqua-green);
    color: var(--white);
}


/* FOOTER */
.footer {
    background-color: var(--aqua-green); 
    color: var(--white); 
    padding: 20px 20px;
    position: static;
    z-index: -1000;
}

.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
}

.footer__logo-container {
    padding: 25px;
}

.footer-logo {
    max-width: 200px;
    margin: 0 auto;
    padding: 5px;
}

.footer__section {
    flex: 1; 
    min-width: 200px;
    text-align: center;
    margin: 0 10px; 
}

.footer__section h3 {
    color: var(--white);
    padding-bottom: 15px;
    text-decoration: overline;
}

.footer__section p,
.footer__section ul,
.footer__section a {
    font-size: 16px;
    color: var(--white);
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.footer__section li {
    margin: 0;
    padding: 0;
}

.footer__section ul li a:hover {
    text-decoration: underline;
}

a {
    color: var(--white);
    text-decoration: none;
}

.footer__section a {
    color: var(--white); 
    text-decoration: none;
}

.footer__section-footer__links-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 4rem;
}

.footer__bottom {
    text-align: center;
    margin-top: 10px;
    border-top: 1px solid var(--white);
    padding-top: 10px;
    font-size: 12px; 
    color: var(--white);
}

.copyright {
    color: var(--white);
    margin: 0 auto;
    text-decoration: none;
    font-size: small;
}

@media (max-width: 768px) {
    .footer__container {
        flex-direction: column;
        align-items: center;
    }

    .footer__section {
        text-align: center;
        margin: 10px 0; 
    }
}





